.basket {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto 20px;
  flex-grow: 1;

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #1c1c27;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 15px;
    color: #000;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 633px;
    width: 100%;
  }

  &__order {
    margin-top: 7px;
    position: relative;
    width: 350px;
    height: 120px;
  }

  &__total {
    border-radius: 30px;
    width: 348px;
    height: 114px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    box-sizing: border-box;
    padding: 21px 21px 0;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 348px;
    height: 65px;
    position: absolute;
    bottom: 0;
  }

  &__info {
    margin-top: 30vh;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  &__link {
    color: #FFA542;
  }

  &__btn {
    border-radius: 30px;
    background-color: #000;
    color: white;
  }
}