.category {
  max-width: 1110px;
  width: 100%;
  margin-top: 28px;

  &:first-child {
    margin-top: 0;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #838383;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}