.header {
  display: flex;
  justify-content: space-between;
  max-width: 1135px;
  min-height: 60px;
  align-items: center;
  width: 100%;
  margin: 0 auto 28px;

  &__links {
    display: flex;
    margin-right: 22px;
    gap: 38px;
  }

  &__count {
    background-color: #FFA542;
    position: absolute;
    padding: 2px 4px;
    top: -3px;
    left: 19px;
    border-radius: 18px;
    text-align: center;
    color: white;
    min-width: 10px;
    width: fit-content;
    height: 14px;
    font-weight: 500;
    font-size: 15px;


    &:empty {
      display: none;
    }
  }

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    &_img {
      width: 23px;
      height: 23px;
    }
  }
}